{% extends "material/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<main>
  <nav class="indigo accent-1">
      <div class="nav-wrapper">
          <a href="{{url_for('index')}}" class="brand-logo"><img src="{{url_for('static',filename='images/logo1-small.png')}}" class="responsive-img"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('book')}}">Book</a></li>
          <li><a href="{{url_for('about')}}">About us</a></li>
          {% if current_user.is_authenticated %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              <li><a href="{{url_for('account')}}">Account</a></li>
          {% else %}
          <li><a href="{{url_for('signup')}}">Signup</a></li>
          <li><a href="{{url_for('login')}}">Login</a></li>
          {% endif %}
          </ul>
      </div>
  </nav>

<div class="card">
  <div class="card-content grey lighten-5">
    <h3>Welcome {{ current_user.username }}</h3>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#active">Active Bookings</a></li>
      <li class="tab"><a href="#recent">Recent Bookings</a></li>
    </ul>
  </div>
  <div class="card-content pink lighten-5 ">
    <div id="active">
      {% if active|length == 0 %}
      <p>No bookings found</p>
      {% endif %}
      {% for i in active %}
      <div class="col s12 m7">
        <div class="card horizontal corner teal lighten-4">
          <div class="card-stacked">
            <div class="card-content">
              <p>Location Name : {{i.l_id}}.</p>
              <p>No of Slots Booked : {{i.slots}}</p>
              <p>No of hours booked : {{i.hours}}</p>
              <p>Date time : {{i.dt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="recent">
      {% if recent|length == 0 %}
      <p>No bookings found<p>
      {% endif %}
      {% for i in recent %}
      <div class="col s12 m7">
        <div class="card horizontal teal lighten-4 corner">
          <div class="card-stacked">
            <div class="card-content">
              <p>Location Name : {{i.l_id}}.</p>
              <p>No of Slots Booked : {{i.slots}}</p>
              <p>No of hours booked : {{i.hours}}</p>
              <p>Date time : {{i.dt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>



</main>

<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact us</h5>
        <p class="grey-text text-lighten-4">Hostel M, Thapar University
          <br>
          Patiala,147001
          <br>
          +91-9876543210
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 Copyright Text
    </div>
  </div>
</footer>

{% endblock %}
