{% extends "material/base.html" %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block content %}

<nav class="indigo accent-1">
    <div class="nav-wrapper">
        <a href="{{url_for('index')}}" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('book')}}">Book</a></li>
        <li><a href="{{url_for('about')}}">About us</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{url_for('signup')}}">Signup</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        {% endif %}
        </ul>
    </div>
</nav>

<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/home_image1.jpg') }}" class="responsive-img"></div>
    </div>
    <div class="section teal lighten-4">
      <div class="row container ">
        <h2 class="header" style="margin: 0 0;">Our Mission</h2>
        <div class="col s12">
            <p class="grey-text text-darken-3 lighten-3">We are on a mission to empower people to get everywhere, easier and faster!
            <br>
        By designing better ways to find, reserve and pay for parking, We make life easier, our cities more accessible, and our world more connected.
    </p>
        </div>
        
      </div>
  </div>

  <div class="section pink lighten-5">
      <div class="row container">
          <h2 class="header" style="margin: 0 0;">Our Core Values</h2>
      </div>
    
    <div class="row container">
        
            <div class="col s6 " ><h5 class="header">Give Drivers the Right of Way</h5> <p align="justify">
                We take the Hero in our name seriously, and we go the extra mile to make sure our drivers have an experience we're proud of.
            </p>
            </div>

            <div class="col s6 "> <h5 class="header">Drive Growth</h5><p align="justify">We venture outside our comfort zones to accelerate company and individual growth. With a desire to learn and willingness to teach, reflection on the losses as well as the wins, and sharing and seeking of candid feedback, we drive ourselves and the company forward.</p>
            </div>
    </div>

    <div class="row container">
        
            <div class="col s6 " ><h5 class="header">Fuel Relationships</h5><p align="justify">We believe strong relationships are the core of high-functioning teams. We build these relationships by intentionally getting to know one another, taking accountability for our work, showing vulnerability, and remembering that trust is a two-way street.</p>
            </div>

            <div class="col s6 "><h5 class="header">Don't Get Stuck in Traffic</h5> <p align="justify">We believe in empowering people to use their unique voices to solve problems and find different routes to success. With the humility to ask for help, the flexibility to adapt, and the resilience to chart the uncharted, there are no limits to what can be achieved.</p>
            </div>
    </div>

    <div class="row container">
        
            <div class="col s6 " ><h5 class="header">Remember to Signal</h5> <p align="justify">
                We all strive to do our part in communicating openly and honestly with each other in moments big and small. This means sharing ideas, keeping stakeholders informed, explaining the “why” behind decisions, and doing so with care.
            </p>
            </div>

            <div class="col s6 "><h5 class="header">Respect Fellow Drivers</h5> <p align="justify">We believe in respecting our fellow teammates and creating a safe space for people to get from here to there. This means listening, assuming positive intent, and seeking to understand different perspectives.</p>
            </div>
    </div>

    <div class="row container">
        
            <div class="col s6 " ><h5 class="header">Enjoy the Ride</h5> <p align="justify">
                Laugh, feel the wind in your hair, and remember not to take yourself too seriously.
            </p>
            </div>
    </div>  
      
</div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/home_image2.jpg') }}" class="responsive-img"></div>
    </div>

    <div class="section teal lighten-4">
      <div class="row container">
        <h2 class="header">What we have delivered...</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>

    <div class="section pink lighten-5">

    <div class="row container">
        <div class="col s4 ">
            <div class="numbers">
        <span class="numbers__window">
            <span class="num11 numbers__window__digit--1" data-fake="1642519073">1</span>
        </span>
        <span class="numbers__window">
            <span class="num12 numbers__window__digit--2" data-fake="5207186394">5</span>
        </span>
        <span class="numbers__window">
            <span class="num13 numbers__window__digit--3" data-fake="0395216407">0</span>
        </span>
    </div>
        <h5 class="header log" >Saving time of our customers in over 150 cities!</h5>
        </div>

        <div class="col s4 ">
            <div class="numbers">
        <span class="numbers__window">
            <span class="num21 numbers__window__digit--1" data-fake="5642519073">5</span>
        </span>
        <span class="numbers__window">
            <span class="num22 numbers__window__digit--2" data-fake="0207186394">0</span>
        </span>
        <span class="numbers__window">
            <span class="num23 numbers__window__digit--3" data-fake="0395216407">0</span>
        </span>
        <span class="numbers__window">
            <span class="num24 numbers__window__digit--4" data-fake="0395216407">0</span>
        </span>
    </div>
        <h5 class="header log" >Over 5000 Happy Customers Till Date!</h5>
        </div>

        <div class="col s4 ">
            <div class="numbers">
        <span class="numbers__window">
            <span class="num31 numbers__window__digit--1" data-fake="1642519073">1</span>
        </span>
        <span class="numbers__window">
            <span class="num32 numbers__window__digit--2" data-fake="207186394">2</span>
        </span>
        <span class="numbers__window">
            <span class="num33 numbers__window__digit--3" data-fake="0395216407">0</span>
        </span>
    </div>
        <h5 class="header log" >Saving precious 120+ minutes of our customers everyday!</h5>
        </div>

      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/home_image3.jpg') }}" class="responsive-img"></div>
    </div>

    <div class="section teal lighten-4">
      <div class="row container valign-wrapper">
        <div class="col s8">
           <h2 class="header">Reserve Your Slot Now... </h2> 
        </div>
        
        <div class="col s1"></div>

        <div class="col s3 valign-wrapper">
            <a class="waves-effect waves-light tex pink lighten-5 black-text btn-large" href="#"><i class="material-icons right">book_online</i>Reserve</a>
        </div>
        
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/home_image4.jpg') }}" class="responsive-img"></div>
    </div>
    <div class="section teal lighten-4">
      <div class="row container">
        <h2 class="header">Parksman FAQs</h2>
        <p class="grey-text text-darken-3 lighten-3 tex">Below are the most frequently asked questions. Hope you find your answers!</p>
      </div>
    </div>

    <div class="section pink lighten-5">
        <div class="row container ">
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>What if I arrive late at the parking lot?</div>
                  <div class="collapsible-body tex1"><span>Your booking will be cancelled after 15 minutes.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>Will I be able to access my account history?</div>
                  <div class="collapsible-body tex1"><span>Yes. At this time, ParksMan account holders will still be able to log into their account to view past reservation information at ParksMan.com. We will also be archiving your account information and a Customer Support member would be happy to assist you if you have any questions about your account.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>Can I expect great pricing, availability, and service?</div>
                  <div class="collapsible-body tex1 "><span>Yes! on ParksMan, parking operator partners determine pricing and availability at any given time. If you’re having any issues finding the right spot to book, our Customer Support team would be happy to assist.</span></div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="page-footer blue-grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact us</h5>
                <p class="grey-text text-lighten-4">Hostel M, Thapar University
                    <br>
                Patiala,147001
                <br>
                +91-9876543210</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>  
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright Text
            </div>
          </div>
        </footer>
   

{% endblock %}

{% block scripts %}

{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax()
    });
</script>

<script type="text/javascript">
    const observer = new IntersectionObserver(entries => {
  // Loop over the entries
  entries.forEach(entry => {
    // If the element is visible
    if (entry.isIntersecting) {
      // Add the animation class
      entry.target.classList.add('numbers__window__digit');
    }
  });
});

observer.observe(document.querySelector('.num11'));
observer.observe(document.querySelector('.num12'));
observer.observe(document.querySelector('.num13'));
observer.observe(document.querySelector('.num21'));
observer.observe(document.querySelector('.num22'));
observer.observe(document.querySelector('.num23'));
observer.observe(document.querySelector('.num24'));
observer.observe(document.querySelector('.num31'));
observer.observe(document.querySelector('.num32'));
observer.observe(document.querySelector('.num33'));
</script>


{% endblock %}