{% extends "material/base.html" %}
{% block content %}

<nav class="blue">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img class="responsive-img circle" src="{{ url_for('static', filename='images/logo-bg-small.png') }}"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Logout</a></li>
        </ul>
    </div>
</nav>

{% endblock %}